<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DemoProject</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/styles/signin.css}">
</head>

<body class="text-center">
<main role="main" class="container">
    <div class="starter-template">
        <h1>We have trouble with activation this key</h1>
        <p class="lead">Please contact to our support</p>
    </div>
</main>
</body>
